body{
  background-color:#dffcb5;
  }
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 2px;
  width:15%;
}
h2{
  color:Green;
}
h3{
  color: #43d8c9;
}
